  <div class="services-banner" style="background-image: linear-gradient(-225deg, rgba(0,71,198,0.1) 0%, rgba(0,36,61,0.1) 93%), url('https://res.cloudinary.com/yuhri/image/upload/v1630005711/bannerservices_ednxzw.jpg');">
  </div>

  <div class="centered">
    <section class="thumbs">
      <% @services.each do |service| %>
        <article class="thumb">
            <picture class="thumbnail">
              <img src="<%= service.thumbnail %>" class="thumb-service-container-image" />
            </picture>
            <div class="thumb-content">
              <ul>
                <li><p><%= service.brand %></p>
                <li><p><%= service.part %></p>
                <img src="https://kitt.lewagon.com/placeholder/users/krokrob"  class="avatar-bordered" />
             </ul>
              <h6><%= service.description %></h6>
            </div> 
         </article>
       <% end %> 
    </section>


  </div>
    <footer class="section">
      <p>
        SAILNATION&copy;
        <span id="date"></span> - all rights reserved
      </p>
      <a class="scroll-link top-link" href="">
        <i class="fas fa-arrow-up"></i>
      </a>
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </footer>
  </div>