.banner {
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
  background-size: cover;
}
.container h1 {
  color: white;
  position: relative;
  top: -90px;
  font-size: 70px;
  font-weight: bolder;
  text-shadow: 1px 1px 3px black;
  font-family: $title-font;
}

.container p {
  color: white;
  position: relative;
  top: -70px;
  font-size: 23px;
  font-weight: medium;
  text-shadow: 1px 1px 3px black;
  font-family: $title-font;
}

.services-banner {
  background-size: cover;
  background-position: center;
  // height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(240, 240, 240);
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
  opacity: .95;
  // height: 50vh;
	min-height: 70vh;
}