*{
  margin:0;
  padding:0;
}

.card-container{
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 10rem;
  justify-content: center;
}

.background-img{
  background-image: url("card1.jpg");
  height: 400px;
  width: 800px;
  background-repeat: no-repeat;
  margin: 5% auto;
  padding:20px;
  border-radius: 4px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  position: relative;
  top: 30px;
  background-size: cover;
  background-position: center;
  min-height: 30vh;
  background-position-y: -230px;
}

.background-img2{
  background-image: url("card2.jpg");
  height: 400px;
  width: 800px;
  background-repeat: no-repeat;
  margin: 5% auto;
  padding:20px;
  border-radius: 4px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  position: relative;
  top: 30px;
  background-size: cover;
  background-position-y: -280px;
  min-height: 30vh;
}

.content h4{
  font-family: "Comfortaa", "cursive";
  font-size: 30px;
}

.box{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  overflow: hidden;
  border: 2px solid #2a3cad;
  color: black;
  padding: 20px;
}

h6 {
  font-family: "Comfortaa", "cursive";
  font-size: 20px;
  color: #ec9076;
  text-shadow: 1px 1px 2.5px black;
  letter-spacing: .2rem;
}

.box:before{
  content: '';
  position:absolute;
  top:0;
  left:-100%;
  width:100%;
  height:100%;
  background: rgba(255,255,255,0.4);
  transition:0.5s;
  pointer-events: none;
}

.box:hover:before{
  left:-50%;
  transform: skewX(-45deg);
}


.box .content{
  position:absolute;
  top:15px;
  left:15px;
  right:15px;
  bottom:15px;
  border:1px solid #ec9076;
  padding:20px;
  text-align:center;
  box-shadow: 0 5px 10px rgba(9,0,0,0.5);

}

.box span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;

}

.box span:nth-child(1)
{
  transform:rotate(0deg);
}

.box span:nth-child(2)
{
  transform:rotate(90deg);
}

.box span:nth-child(3)
{
  transform:rotate(180deg);
}

.box span:nth-child(4)
{
  transform:rotate(270deg);
}

.box span:before
{
  content: '';
  position: absolute;
  width:100%;
  height: 3px;
  background: #97cdec;
  opacity: .5;
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0% {
  transform:scaleX(0);
  transform-origin: left;
  }
  50%
  {
    transform:scaleX(1);
  transform-origin: left;
  }
  50.1%
  {
    transform:scaleX(1);
  transform-origin: right;

  }

  100%
  {
    transform:scaleX(0);
  transform-origin: right;

  }


}

.service-container{
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  grid-gap: .2rem;
  justify-content: center;
  position: relative;
  bottom: 30px;
}

.background-service{
  background-image: url("service4.jpg");
  height: 350px;
  width: 700px;
  background-repeat: no-repeat;
  margin: 5% auto;
  padding:20px;
  border-radius: 4px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  position: relative;
  top: 30px;
  left:105px;
  background-size: cover;
  background-position: center;
  min-height: 30vh;
  background-position-y: -70px;
}

.background-service2{
  background-image: url("service2.jpg");
  height: 350px;
  width: 700px;
  background-repeat: no-repeat;
  margin: 5% auto;
  padding:20px;
  border-radius: 4px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  position: relative;
  top: 30px;
  right:105px;
  background-size: cover;
  background-position-y: -50px;
  min-height: 30vh;
}

.extra-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-gap: .2rem;
  justify-content: center;
  position: relative;
  bottom: 130px;
  
}

.background-service3{
  background-image: url("service3.jpg");
  height: 350px;
  width: 700px;
  background-repeat: no-repeat;
  margin: 5% auto;
  padding:20px;
  border-radius: 4px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  position: relative;
  top:5px;
  background-size: cover;
  background-position: center;
  min-height: 30vh;
  background-position-y: -40px;
}

.thumbcontent {
  display: flex;
  margin: 25px;
  border: 1px;
}

// .thumbs {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-gap: 40px;
// }
//  @media( max-width: 1600px) {
//   .thumbs {
//     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;


//   border: 1px;
//   }
// }

//  @media( max-width: 1200px) {
//   .thumbs {
//     grid-template-columns: 1fr 1fr 1fr 1fr;


//   border: 1px;
//   }
// }


// @media( max-width: 992px) {
//   .thumbs {
//     grid-template-columns: 1fr 1fr 1fr ;


//   border: 1px;
//   }
// }

// @media( max-width: 768px) {
//   .thumbs {
//     grid-template-columns: 1fr;

//   border: 1px;
//   }
// }


// .thumb {
//   height: 200px;
//   border-radius: 20px;
//   margin: 15px 10px;
//   box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
//   display: flex;
//   align-items: flex-end;
//   justify-content: space-between;
//   position: relative;
//   color: rgba(27, 97, 144, 0.767);
//   font-weight: bolder;
  
// }

// .thumb-service-container {
//   // width: auto;
//   // overflow: hidden;
//   display: flex;
// }

// .thumb-service-container-image {
//   height: 200px;
//   width: 100%;
//   object-fit: cover;
//   border-top-left-radius: 20px;
//   border-bottom-left-radius: 20px;
//   box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;}

// .thumb-service-container-infos {
//   display: flex;
//   align-items: bottom;
// }

// .avatar-bordered {
//   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
// }

.thumb-service-container-image{
	display: block;
	border: 0;
	width: 100%;
	height: auto;
  background-size: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.thumb-service-container-image:hover {
  position:relative;
  bottom: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


.thumb {
  margin: 25px;
	background: white;
	margin-bottom: 2em;
  width: 70%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.thumb-content {
	
}

.thumb-content h6 {
	margin-top: 0;
	margin-bottom: .5em;
	font-weight: bolder;
  text-align: center;
  text-shadow: none;
  color: rgba(24, 77, 175, 0.767);
  position: relative;
  bottom: 30px;
  font-size: 18px;
}

.thumb-content p {
	font-size: 100%;
  text-align: center;
  position: relative;
  top: 20px;
  font-size: 14px;
  font-weight: bold;
}

/* Flexbox stuff */

.thumbs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

.thumb {
	flex: 0 1 24%;
}


.avatar-bordered {
  position: relative;
  bottom: 110px;
  right: 30px;
  width: 70px;
  border: none;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}



