.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(to top, rgba(63, 152, 212, 0.5), rgba(0, 0, 0, 0.7));
}

.nav-item{
  font-size: 18px;
}

#home {
  position: relative;
  top: 0.5rem;
  text-decoration: none;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  color: white;
}

.nav-link {
  color: white;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.links-container {
  height: 58px;
  // overflow: hidden;
  // transition: all 0.3s linear;
  // display: flex;
  // justify-content: center;
  
}

#linkserv {
  position: relative;
  left: 47px;
  // text-shadow: .7px .7px 1.4px black;
}
#linkabout {
  position: relative;
  left: 66px;
  // text-shadow: .7px .7px 1.4px black;
}

// @media screen and (width: 992px) {
//   #linkserv {
//     position: relative;
//     left: 47px;
//   }
//   #linkabout {
//     position: relative;
//     left: 66px;
//   }
// }

// @media screen and (width: 768px) {
//   #linkserv {
//     position: relative;
//     left: 47px;
//   }
//   #linkabout {
//     position: relative;
//     left: 66px;
//   }
// }
// @media screen and (width: 480px) {
//   #linkserv {
//     position: relative;
//     left: -3px;
//   }
//   #linkabout {
//     position: relative;
//     left: 16px;
//   }
// }

.links a {
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-transform: capitalize;
  letter-spacing: 0.25rem;
  display: block;
  transition: all 0.3s linear;
  font-weight: bold;
  text-decoration: none;
}
.links a:hover {
  // color: rgba(193, 194, 204, 0.836);
  // font-size: 23px;
  // text-shadow: .5px .5px 1px black;
  color: #fff;
  background: linear-gradient(to left,#084375 40%,  #3f728a 80%, #c7c7c7 10%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2.5s linear infinite;
  display: inline-block;
}

@keyframes textclip {
to {
  background-position: 200% center;
}
}
